    /*
================
MOBILE PHONES
================
*/
    
    @media (max-width: 720px) {
        .Menu-Btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--Light);
            font-size: 2.5rem;
            padding: 10px;
            cursor: pointer;
        }
        .Close {
            display: none;
        }
        /* Callout */
        .Callout .Brand {
            font-size: 1.3rem;
            font-weight: bold;
            padding: 0 10px;
        }
        /* Navigation */
        .Navigation {
            width: 90%;
            background-color: var(--Primary);
            height: 80vh;
            overflow-y: scroll;
            position: fixed;
            top: 10vh;
            left: -100%;
            display: block;
            padding: 0;
            text-align: left;
        }
        .Navigation .Inner {
            padding: 10px 0;
        }
        .Navigation .Inner a {
            font-size: 0.9rem;
            font-weight: bold;
            justify-content: flex-start;
            margin: 0;
        }
        .Navigation .Inner .List {
            text-align: left;
            width: 100%;
            padding: 16px 20px;
            border-bottom: 1px solid var(--Light);
        }
        /* Overview */
        .Overview {
            color: var(--Dark);
            margin-top: 10vh;
        }
    }