/*
================
MOBILE PHONES
================
*/

@media (max-width: 720px) {
    /* Callout */
    .Callout,
    .Navigation {
        height: 10vh;
        left: 0;
        position: fixed;
    }
    .Callout {
        top: 0;
        display: grid;
        grid-template-columns: auto 60px;
        background-color: var(--Primary);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
        z-index: 3;
        padding: 5px;
    }
    .Callout .Extras,
    .Callout #Account,
    .Callout .Brand,
    .Navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.7rem;
        color: white;
    }
    .Callout .Brand {
        justify-content: flex-start;
        font-size: 1rem;
    }
    .Callout .Brand a,
    .Callout .Brand a:active,
    .Callout .Brand a:visited {
        text-decoration: none;
        margin: 0 10px;
        color: white;
    }
    .Callout #Account {
        margin: 0 10px;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        justify-content: center;
        border: 2px solid var(--Light);
        background-color: rgb(145, 145, 145);
    }
    /* Banner */
    .Banner {
        margin-top: 10vh;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2a7ce7;
    }
    .Banner .Inner {
        text-align: center;
        font-size: 1.3rem;
        color: var(--Light);
        font-weight: 600;
    }
    .Banner input,
    .Banner button {
        padding: 16px 26px;
        border: 1px solid var(--Light);
    }
    .Banner .Search-Form {
        margin-top: 30px;
    }
    .Banner input {
        border-radius: 8px 0 0 8px;
    }
    .Banner button {
        border-radius: 0 8px 8px 0;
        color: var(--Light);
        background-color: var(--Secondary);
        margin-left: -6px;
    }
    #Filter {
        position: relative;
        left: 13.5rem;
        color: gray;
        top: 3px;
        z-index: 2;
    }
    .Search-Categories {
        display: none;
        width: 100%;
        background-color: white;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        text-align: left;
        color: var(--Dark);
        border: 2px solid var(--Dark);
        padding: 10px;
    }
    .Search-Categories .Label {
        font-size: 0.9rem;
        color: gray;
    }
    .Search-Categories ul li {
        list-style: none;
    }
    /* Categories */
    .Categories {
        display: grid;
        padding: 5px;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        background-color: var(--Light);
    }
    .Categories .Item {
        text-align: center;
        background-color: white;
        border: 0;
        padding: 5px;
        border-radius: 4px;
    }
    .Categories a,
    .Categories a:active,
    .Categories a:visited {
        font-size: 0.7rem;
        text-decoration: none;
        color: gray;
        margin: 10px;
    }
    .Categories img {
        max-width: 80%;
    }
    /* Recent Uploads */
    .Recent-Uploads {
        margin-bottom: 10vh;
        padding: 10px;
    }
    .Recent-Uploads .Inner {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 20px;
    }
    .Recent-Uploads .Inner .Item {
        background-color: white;
        border-radius: 8px;
        padding: 5px;
    }
    .Recent-Uploads .Inner .Item .Details {
        font-size: 0.9rem;
        margin: 10px 0;
    }
    .Recent-Uploads .Inner .Item .Image {
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px;
    }
    .Recent-Uploads .cartBtn,
    .Recent-Uploads .cartBtn:visited,
    .Recent-Uploads .cartBtn:active {
        color: var(--Light);
        background-color: rgb(11, 204, 11);
        border: 3px solid white;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-decoration: none;
        font-size: 1.3rem;
        position: relative;
        left: 70%;
        top: -20px;
    }
    .Recent-Uploads .Inner .Item .Product-Name {
        color: var(--Dark);
        font-weight: bold;
    }
    .Recent-Uploads .Inner .Item .Product-Price {
        color: rgb(23, 199, 23);
        font-weight: bold;
    }
    /* Navigation */
    .Navigation {
        top: 90vh;
        background-color: var(--Primary);
        justify-content: center;
    }
    .Navigation a,
    .Navigation a:active,
    .Navigation a:visited,
    .Navigation span {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Navigation .Primary,
    .Navigation .Primary:active,
    .Navigation .Primary:visited {
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 100%;
        color: rgb(92, 80, 12);
        background-color: var(--Secondary);
        border: 3px solid rgb(207, 178, 13);
    }
}