@media (max-width: 720px) {
    .Header {
        background-color: var(--Primary);
        min-height: 20vh;
    }
    .Icon {
        text-align: center;
        position: relative;
        top: 20px;
    }
    .Icon span {
        width: 50px;
        height: 50px;
        background-color: gray;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: white;
        border-radius: 100%;
    }
    .User-Name {
        align-items: center;
        text-align: center;
        position: relative;
        top: 25px;
        font-weight: bold;
        color: white;
    }
    input {
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid var(--Primary);
        border-radius: 4px;
        width: 100%;
    }
    input[type="submit"] {
        width: 49%;
        color: white;
        background-color: var(--Primary);
    }
    input[type="reset"] {
        width: 49%;
        color: var(--Primary);
        border: 2px solid var(--Primary);
        background-color: var(--white);
    }
    .Account-Details {
        padding: 10px;
    }
}