.Container {
    height: 100vh;
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;
}

.Logo {
    margin: auto;
    width: 70px;
    height: 50px;
    border: 1px solid white;
    position: relative;
    top: 5vh;
}

.Brand img {
    max-width: 100%;
}

.Form-Container {
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    height: 70vh;
    position: relative;
    top: 10vh;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

.Header-Text {
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 1.5rem;
}

p {
    width: 100%;
    text-align: center;
}

input {
    padding: 16px 20px;
    margin: 7px 0;
    width: 90%;
    border-radius: 5px;
    color: white;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    background-color: var(--Primary);
    border: 0;
}

input[type="email"],
input[type="password"] {
    background-size: 33px 33px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 35px;
}

input[type="email"] {
    background-image: url('../Images/Icons/email.png');
}

input[type="password"] {
    background-image: url('../Images/Icons/lock.png');
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: white;
}

form {
    position: relative;
    top: 10vh;
}

input[type="submit"] {
    width: 150px;
}