.Container {
    height: 100vh;
    overflow: hidden;
}

.Image-Container {
    background-image: url('../Images/signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.Brand img {
    max-width: 100%;
}

.Form-Container {
    width: 100%;
    margin: auto;
    margin-top: -20vh;
    background-color: white;
    border-radius: 25px;
    height: 70vh;
    position: relative;
    top: 10vh;
    padding: 20px;
}

.Header-Text {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 1.4rem;
    color: var(--Primary);
}

p {
    width: 100%;
    text-align: center;
}

input {
    padding: 16px 20px;
    margin: 7px 0;
    width: 90%;
    color: white;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    border: 0;
    width: 100%;
}

input[type="email"],
input[type="password"] {
    background-size: 33px 33px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-bottom: 1px solid var(--Primary);
    color: var(--Primary);
}

input[type="email"] {
    background-image: url('../Images/Icons/email.png');
}

input[type="password"] {
    background-image: url('../Images/Icons/lock.png');
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: var(--Primary);
}

input[type="submit"] {
    background: var(--Primary);
    background: linear-gradient(157deg, #2f89fc 30%, #bd00ff 80%);
    border-radius: 20px;
    transition: 0.3s ease-in;
}

input[type="submit"]:hover {
    background: linear-gradient(348deg, #2f89fc 30%, #bd00ff 80%);
    transition: 0.3s ease-in;
}